.grid {
  margin-top: 100px;
}
.authors h5 {
  display: inline-block;
  margin-right: 6px;
}
.bookItem {
  padding: 50px;
  margin: 30px;
  border: 1px solid Gainsboro;
  border-radius: 1%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.center {
  text-align: center;
}
